body{
    margin: 10;
    padding: 10;
}

.input_size{
    width: 200px;
}

fieldset{
    margin-top: 40;
    margin-bottom: 20;	
}

#middle{
    height: 250px;
}

.margin-100{
    margin-bottom: 100px;
}

.padding-800{
    padding-left: 800px;
}

.margin-100{
    margin-bottom: 100px;
}

.margin--200{
    margin-top: 100px;
}